#messages {
    border: 1px black solid;
    width: 400px;
    height: 400px;
    margin: auto;
    overflow-y: auto;
    margin-top: 30px;
}

#sendButton {
    margin-top: 10px;
    height: 40px;
    width: 100px;
}

#input {
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border: 1px black solid;
    resize: none;
}

header {
    font-size: 23px;
}

.myMessage {
    text-align: right;
    background-color: #d8e3ff;
}

.friendsMessage {
    text-align: left;
    background-color: #9eff69;
}

.message {
    margin: 0px 10px;
    padding: 8px 8px 8px 18px;
    border-radius: 5px;
    word-break: break-all;
}

.text {
    font-size: 20px;
    font-family: sans-serif;
}

#chat {
    text-align: center;
    margin-top: 30px;
}

.date {
    font-size: 13px;
}

.userName {
    font-size: 20px;
}

.wrapper {
    padding: 0px 10px;
    margin-bottom: 2px;
    background-color: white;
}

#userName {
    font-size: 35px;
    width: 40%;
    vertical-align: middle;
}

#loginButton {
    width: 7%;
    font-size: 22px;
    height: 46px;
    margin-left: 10px;
    vertical-align: middle;
}

#login {
    margin-top: 19%;
    text-align: center;
}